<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="host_name"   default="" />

  
  <group ns="$(arg host_name)">
    <!-- the camera node -->
    <include file="$(find bringup)/configs/basler/pylon_camera_node.launch">
      <arg name="host_name"     value="$(arg host_name)"/>
      <arg name="config_file" default="$(find bringup)/configs/basler/low_exp_mono_2Hz.yaml" />
      <arg name="enable_status_publisher" default="false" />
      <arg name="enable_current_params_publisher" default="false" />
    </include>


    <!-- the bag recording node -->
    <node name="triggered_cam_recorder" pkg="triggered_bag_recorder" type="pynode.py" output="screen" clear_params="true" required="true" >
        <!-- load the parameter file -->
        <rosparam file="$(find bringup)/configs/triggered_bag_recorder/default_config.yaml" command="load" />
        <param name="record_folder"  value="/media/USB128GB/$(arg host_name)" />
        <param name="bag_name_prefix"  value="camera_imu_recording" />
        <param name="topic_list"  value="/$(arg host_name)/pylon_camera_node/image_raw" />
        <param name="timeout"  value="10" />
        <param name="recording_duration"  value="100" />
    </node>
  </group>
</launch>
